@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Satisfy&display=swap");

@import url("component/container.css");
@import url("component/avatar.css");
@import url("component/button.css");
@import url("component/banner.css");
@import url("component/card.css");


body{
	font-family: 'Permanent Marker', cursive;
	font-size: 18px;
}

h1,h2,h3{
	font-family: 'Marker',serif;
	font-family: 'Satisfy', cursive;
}

a{
	text-decoration: none;
}